@charset "UTF-8";
/**
 * Created by Riven on 2016/11/15 下午5:05.
 */
::-webkit-scrollbar {
  height: 12px;
  width: 4px; }

::-webkit-scrollbar-thumb {
  background: #2db7f5;
  -webkit-border-radius: 1ex; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.display-block {
  display: block; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-center {
  text-align: center; }

.text-bold {
  font-weight: bold; }

.text-small {
  font-size: 12px; }

.text-mid {
  font-size: 16px; }

.text-larger {
  font-size: 20px; }

.w100 {
  width: 100%; }

.h100 {
  height: 100%; }

.m20 {
  margin: 20px; }

.p20 {
  padding: 20px; }

.mt20 {
  margin-top: 20px; }

.mt10 {
  margin-top: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mr10 {
  margin-right: 10px; }

.primary-color {
  color: #2db7f5; }

.progress-bar .react-progress-bar-percent {
  background: red;
  transition: all 1.2s ease-in; }
.progress-bar .react-progress-bar-spinner-icon {
  border-top-color: red;
  border-left-color: red; }

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 150px;
  height: 150px; }

.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer; }

.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999; }

.editable-cell {
  position: relative; }

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px; }

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px; }

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer; }

.editable-cell-icon {
  line-height: 18px;
  display: none; }

.editable-cell-icon-check {
  line-height: 28px; }

.editable-cell:hover .editable-cell-icon {
  display: inline-block; }

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #2db7f5; }

.editable-add-btn {
  margin-bottom: 8px; }

#content {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.center-block {
  margin: 0 auto; }

.login-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("/static/images/pexels-photo.jpg") no-repeat center top;
  background-size: 100% 100%; }
  .login-box .login-form {
    background-color: rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 40px 50px;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    color: #000000; }
    .login-box .login-form .login-form-button {
      width: 200px; }

.main {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .main div.top-menu {
    width: 100%;
    height: 70px;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    overflow: hidden; }
    .main div.top-menu .notification-box {
      font-size: 12px;
      height: 42px;
      width: 42px;
      margin-top: 20px;
      float: right;
      margin-right: 20px; }
      .main div.top-menu .notification-box .notification {
        color: #fff;
        cursor: pointer;
        font-size: 28px; }
  .main .main-content {
    padding: 20px 20px 100px 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px; }
    .main .main-content:before, .main .main-content:after {
      content: "";
      display: table; }
    .main .main-content:after {
      clear: both; }
    .main .main-content div:before, .main .main-content div:after {
      content: "";
      display: table; }
    .main .main-content div:after {
      clear: both; }
  .main .left-menu .top-menu {
    width: 100%;
    height: 70px;
    overflow: hidden;
    background: #2FA0D8;
    color: #ffffff; }
    .main .left-menu .top-menu div.user-box {
      float: left;
      cursor: pointer;
      margin-left: 10px; }
      .main .left-menu .top-menu div.user-box:before, .main .left-menu .top-menu div.user-box:after {
        content: "";
        display: table; }
      .main .left-menu .top-menu div.user-box:after {
        clear: both; }
      .main .left-menu .top-menu div.user-box .user {
        font-size: 34px;
        float: left;
        line-height: 70px; }
      .main .left-menu .top-menu div.user-box span.name {
        float: left;
        font-size: 20px;
        margin-left: 10px;
        line-height: 70px; }
    .main .left-menu .top-menu .logout {
      float: right;
      font-size: 34px;
      cursor: pointer;
      transition: all 0.5s ease-out;
      margin: 18px 10px 0 0; }
      .main .left-menu .top-menu .logout:hover {
        transform: rotate(360deg); }
  .main .left-menu .menu {
    overflow-x: hidden;
    overflow-y: auto; }

/*# sourceMappingURL=global.css.map */
