/**
 * Created by Riven on 2016/11/15 下午5:05.
 */

::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  //background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #2db7f5;
  -webkit-border-radius: 1ex;
  //-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  //background: #000;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

$primary-color: red;




.display-block {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-small {
  font-size: 12px;
}

.text-mid {
  font-size: 16px;
}

.text-larger {
  font-size: 20px;
}
.w100{
  width: 100%;
}

.h100{
  height: 100%;
}

.m20{
  margin: 20px;
}

.p20{
  padding: 20px;
}

.mt20{
  margin-top: 20px;
}

.mb20{
  margin-bottom: 20px;
}

.primary-color{
  color: #2db7f5;
}

.progress-bar{
  .react-progress-bar-percent{
    background: $primary-color;
    transition: all 1.2s ease-in;
  }
  .react-progress-bar-spinner-icon{
    border-top-color: $primary-color;
    border-left-color: $primary-color;
  }
}
#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center-block {
  margin: 0 auto;
}

.login-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("../images/pexels-photo.jpg") no-repeat center top;
  background-size: 100% 100%;
  .login-form {
    background-color: rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 40px 50px;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    color: #000000;
    .login-form-button {
      width: 200px;
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  div.top-menu {
    width: 100%;
    height: 70px;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    overflow: hidden;
    .notification-box {
      font-size: 12px;
      height: 42px;
      width: 42px;
      margin-top: 20px;
      float: right;
      margin-right: 20px;
      .notification {
        color: #fff;
        cursor: pointer;
        font-size: 28px;
      }
    }
  }

  .main-content {
    padding: 20px 20px 70px 20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    @include clearfix;
    font-size: 14px;
    div {
      @include clearfix;
    }
  }

  .left-menu {
    .top-menu {
      width: 100%;
      height: 70px;
      overflow: hidden;
      background: #2FA0D8;
      color: #ffffff;
      div.user-box {
        float: left;
        cursor: pointer;
        margin-left: 10px;
        @include clearfix;
        .user {
          font-size: 34px;
          float: left;
          line-height: 70px;
        }
        span.name {
          float: left;
          font-size: 20px;
          margin-left: 10px;
          line-height: 70px;
        }
      }
      .logout {
        float: right;
        font-size: 34px;
        cursor: pointer;
        transition: all 0.5s ease-out;
        margin: 18px 10px 0 0;
        &:hover {
          transform: rotate(360deg);
        }
      }
    }
    .menu {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}