/**
 * Created by Riven on 2016/11/15 下午5:05.
 */

::-webkit-scrollbar {
  height: 12px;
  width: 4px;
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #2db7f5;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.active{
  background: red;
}
.modifyPwd{
  margin-top: 100px;
}

.login-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("~/images/pexels-photo.jpg") no-repeat center top;
  background-size: 100%;
  .login-form{
    background-color: rgba(0,0,0,0.1) ;
    width: 400px;
    padding: 40px 50px;
    margin: 100px auto 0 auto;
    border-radius: 15px;
    color:#000000;
    .login-form-button{
      margin-left: 20px;
      width: 200px;
    }
  }
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  div.top-menu{
    width: 100%;
    height: 50px;
    background-color: #158DB5;
    overflow: hidden;
    .notification-box{
      font-size: 12px;
      height: 42px;
      width: 42px;
      margin-top: 14px;
      float: right;
      margin-right: 20px;
      .notification{
        color:#fff;
        cursor: pointer;
        font-size: 28px;
      }
    }
  }

  .left-menu {
    overflow-x:hidden ;
    overflow-y:auto;
    .top-menu {
      width: 100%;
      height: 50px;
      overflow: hidden;
      padding: 10px 20px;
      line-height: 30px;
      background: #158DB5;
      color: #ffffff;
      div.user-box{
        float: left;
        cursor: pointer;
        .user {
          font-size: 24px;
        }
        span.name {
          font-size: 18px;
          margin-left: 10px;
        }
      }
      .logout{
        float: right;
        line-height: 30px;
        font-size: 24px;
        cursor: pointer;
        transition:all 0.5s ease-out;
        &:hover{
          transform: rotate(360deg);
        }
      }
    }
    .menu {
      overflow-x:hidden ;
      overflow-y:auto;
    }
  }
}

.main-content {
  padding: 20px;
}